.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.artistContainer {
  width: 100%;
  max-width: 1152px;
  min-height: 1219px;
  position: relative;
  @media (min-width: 768px) {
  }
}

.buttonBackContainer {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: -32px;
  left: 32px;
}
.buttonBack {
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--h1-regular-font-family);
  font-size: var(--h2-regular-font-size);
}

.buttonBackText {
  color: white;
  font-family: var(--h1-regular-font-family);
  font-size: var(--h2-regular-font-size);
  background-color: transparent;
  border: none;
  cursor: default;
}
