.container {
  display: none;
  @media (min-width: 1200px) {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
.inputLocationContainer {
  position: relative;
}
.inputSearch {
  position: relative;
  width: 870px;
  height: 45px;
  border-radius: 8px 0px 0px 8px;
  background: #f3f3f3;
  border: none;
  padding-left: 30px;
  outline: none; /* Дополнительная строка для поддержки браузеров */

  font-size: var(--h2-regular-font-size);

  font-weight: var(--h3-regular-font-weight);

  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
}
.inputSearch::placeholder {
  color: #6e6e6e;

  font-size: var(--h2-regular-font-size);

  font-weight: var(--h3-regular-font-weight);
}
.inputSearch:focus {
  outline: none; /* Дополнительная строка для поддержки браузеров */
}
/* ghbdtn */
.searchButton {
  position: absolute;
  right: -6px;
  top: 0px;
  border-radius: 0px 8px 8px 0px;
  background: #a259ff;
  border: none;
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
}
.buttonIcon {
  width: 24px;
  height: 24px;
  color: var(--white);
}
.buttonClear {
  position: absolute; /* Делаем кнопку абсолютно позиционированной */
  left: 5px; /* Позиционируем ее слева */
  top: 50%; /* Выравниваем по вертикали по центру контейнера */
  transform: translateY(-50%); /* Корректируем положение по вертикали */
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 0;

  transition: transform 0.3s ease;
  cursor: pointer;
}

.buttonIconClear {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.buttonClear:hover .buttonIconClear {
  transform: scale(1.2); /* Увеличиваем масштаб иконки при наведении */
}
