.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    margin-top: 10px;
  }
  /* padding-left: 24px;
  padding-right: 24px; */
}

.artistList {
  width: 100%;
  margin-top: 24px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
}
.buttonBackContainer {
  display: none;
  @media (min-width: 768px) {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: -32px;
    left: 32px;
  }
}
.buttonBack {
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--h1-regular-font-family);
  font-size: var(--h2-regular-font-size);
}

.buttonBackText {
  color: white;
  font-family: var(--h1-regular-font-family);
  font-size: var(--h2-regular-font-size);
  background-color: transparent;
  border: none;
  cursor: default;
}
.artistItem {
  width: 100%;
  height: auto;
  gap: 10px;
  border-radius: 16px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  @media (min-width: 768px) {
    border-radius: 8px;
    max-width: 1168px;
    background-color: var(--white);
  }
}

.cardContainer {
  @media (min-width: 768px) {
    display: flex;
  }
}
.imageContainer {
  height: 312px;
  position: relative;
  border-radius: 8px;
  @media (min-width: 768px) {
    position: relative;
    width: 356px;
    margin-left: -1px;
  }
}
.image {
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;

  @media (min-width: 1200px) {
    border-radius: 8px 0px 0px 8px;
  }
}
.cardInfo {
  margin-top: 16px;
  max-width: 811px;
  @media (min-width: 768px) {
    max-width: 811px;
  }
}
.cardTopContainer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0px 8px 0px 8px;
  font-size: var(--h4-medium-font-size);
  font-weight: var(--h4-medium-font-weight);
  @media (min-width: 768px) {
    gap: 24px;
    margin-left: 16px;
  }
  @media (min-width: 1200px) {
    justify-content: unset;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 500;
  }
}
.locationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.geoIcon {
  width: 24px;
  height: 24px;
}
.artistProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.avatarContainer {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: -1px;
  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.categoryContainer {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 8px;
  @media (min-width: 1200px) {
    width: 785px;
    flex-wrap: nowrap;
  }
}
.categoryContainer::-webkit-scrollbar {
  display: none;
}
.categoryArtist {
  height: 23px;
  font-size: var(--h5-regular-font-size);
  font-weight: var(--h5-regular-font-weight);
  width: auto;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background: var(--white);
  @media (min-width: 768px) {
    white-space: nowrap;
    font-size: var(--h1-regular-font-size);
    font-weight: var(--h1-regular-font-weight);
    height: 40px;
    background: var(--gray-light);
  }
}
.descriptionContainer {
  margin-top: 8px;
  background-color: var(--white);
  max-width: 812px;
  height: 137px;
  padding: 16px;
  border: none;
  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (min-width: 768px) {
    background-color: var(--accent-color);
    height: 192px;
    width: 365px;
    border-radius: 0px 0px 8px 0px;
  }
  @media (min-width: 1200px) {
    width: 797px;
  }
}

.descriptionTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.descriptionText {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
