.container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.artistContainer {
  margin-top: 88px;
  width: 1168px;
  height: 1219px;
  display: flex;
}
.artistPromo {
  width: 830px;
  height: 1219px;
  background-color: var(--accent-color-1);
  border-radius: 16px 0px 0px 16px;
}
.artistInfo {
  width: 338px;
  height: 1219px;
  background-color: var(--accent-color-2);
  border-radius: 0px 16px 16px 0px;
  padding: 80px 36px;
  color: var(--white);
}
.artistInfoContainer {
  display: flex;
  margin-top: px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.artistAvatarContainer {
  width: 48px;
  height: 48px;
  position: relative;
}
.image {
  border-radius: 50%;
  object-fit: cover;
}
.artistName {
  font-family: var(--h1-medium-font-family);
  font-size: var(--h1-medium-font-size);
  font-style: var(--h1-medium-font-style);
  font-weight: var(--h1-medium-font-weight);
  letter-spacing: var(--h1-medium-letter-spacing);
  line-height: var(--h1-medium-line-height);
}
.contactButton {
  color: var(--white);
  font-family: var(--h2-medium-font-family);
  font-size: var(--h2-medium-font-size);
  font-style: var(--h2-medium-font-style);
  font-weight: var(--h2-medium-font-weight);
  letter-spacing: var(--h2-medium-letter-spacing);
  line-height: var(--h2-medium-line-height);
  width: 274px;
  height: 48px;
  margin-top: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.artistContact {
  padding-left: 8px;
}
.contactTitle {
  margin-top: 24px;

  font-family: var(--h3-regular-font-family);
  font-size: var(--h3-regular-font-size);
  font-style: var(--h3-regular-font-style);
  font-weight: var(--h3-regular-font-weight);
  letter-spacing: var(--h3-regular-letter-spacing);
  line-height: var(--h3-regular-line-height);
}
.contactItem {
  margin-top: 16px;

  font-family: var(--h1-regular-font-family);
  font-size: var(--h1-regular-font-size);
  font-style: var(--h1-regular-font-style);
  font-weight: var(--h1-regular-font-weight);
  letter-spacing: var(--h1-regular-letter-spacing);
  line-height: var(--h1-regular-line-height);
  display: flex;
  align-items: center;
}
.contactIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
