.container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.artistList {
  margin-top: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.artistItem {
  width: 1168px;
  height: 312px;
  gap: 10px;
  border-radius: 8px;

  background-color: var(--white);
  color: black;
}
.cardContainer {
  display: flex;
}
.imageContainer {
  margin-left: -1px;
  width: 357px;
  height: 312px;
  position: relative;
  border-radius: 8px;
}
.image {
  position: absolute;
  border-radius: 8px 0px 0px 8px;
  object-fit: cover;
}
.cardInfo {
  margin-top: 16px;
  width: 811px;
}
.cardTopContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--black);
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 16px;
}
.locationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.geoIcon {
  width: 24px;
  height: 24px;
}
.artistProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.avatarContainer {
  margin-left: -1px;
  width: 48px;
  height: 48px;
  position: relative;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.categoriesWrapper {
  width: 812px; /* Фиксированная ширина блока категорий */
  overflow-x: auto;
  margin-top: 8px;
}

.categoryScroll {
  display: flex;
  gap: 8px;
}
.categoryContainer {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  /* overflow: auto; */
  gap: 8px;
}
.categoryArtist {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background: #e8e8e8;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.descriptionContainer {
  margin-top: 8px;
  background-color: var(--accent-color);
  width: 812px;
  height: 192px;
  padding: 16px;
  border: none;
  border-radius: 0px 0px 8px 0px;
}
.descriptionTitle {
  color: var(--black);
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.descriptionText {
  margin-top: 24px;
  color: var(--black);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  overflow-wrap: break-word;
}
