.paginateContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttonStart {
  border: none;
  background-color: transparent;
  height: 48px;
  width: 48px;
  color: #808080;
}
.buttonStart:disabled {
  color: #212121;
}
.buttonPrevious {
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 48px;
  color: #808080;
}
.buttonPrevious:disabled {
  color: #212121;
}

.buttonNext {
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 48px;
  color: #808080;
}
.buttonNext:disabled {
  color: #212121;
}

.buttonEnd {
  background-color: transparent;
  color: #808080;

  border: none;
  height: 48px;
  position: relative;
  width: 48px;
}
.buttonEnd:disabled {
  color: #212121;
}
.buttoPages {
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  padding: 8px;
  width: 48px;
  color: #808080;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.buttonPagesActive {
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 8px;
  width: 48px;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.icon {
  width: 24px;
  height: 24px;
}
