.scrollToTopButton {
  position: fixed;
  right: -100%; /* Изначально кнопка вне экрана */
  bottom: 120px; /* Позиция кнопки при появлении */

  z-index: 1;
  background-color: #a159ff83;
  color: #ffffffad;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.4s ease; /* Добавляем transition для плавного появления */
}

.visible {
  right: 10px;
}

.icon {
  width: 22px;
  height: 22px;
}
