.scrollToTopButton {
  position: fixed;
  right: -50px; /* Изначально кнопка вне экрана */
  bottom: 100px; /* Позиция кнопки при появлении */

  background-color: #a159ff83;
  color: #ffffffad;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.4s ease; /* Добавляем transition для плавного появления */
}

.visible {
  right: 25px;
}

.icon {
  width: 22px;
  height: 22px;
}
