.label {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    color: #858584;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
  }
}
.sharedIcon {
  color: white;
  width: 32px;
  height: 32px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.linkContainer {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 0px;
    gap: 10px;
  }
}
.linkMobileContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
