.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.inputSearch {
  width: 870px;
  height: 45px;
  border-radius: 8px 0px 0px 8px;
  background: #eee;
  border: none;
  padding-left: 16px;
  outline: none; /* Дополнительная строка для поддержки браузеров */
}
.inputSearch:focus {
  outline: none; /* Дополнительная строка для поддержки браузеров */
}
.searchButton {
  border-radius: 0px 8px 8px 0px;
  background: var(--button-bg-color);
  border: none;
  width: 40px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonIcon {
  width: 24px;
  height: 24px;
  color: var(--white);
}
