.container {
  display: none;
  @media (min-width: 1200px) {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
.inputSearch {
  width: 700px;
  height: 45px;
  border-radius: 8px 0px 0px 8px;
  background: #eee;
  border: none;
  padding-left: 16px;
  outline: none; /* Дополнительная строка для поддержки браузеров */
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
}
.inputSearch:focus {
  outline: none; /* Дополнительная строка для поддержки браузеров */
}
.searchButton {
  border-radius: 0px 8px 8px 0px;
  background: #a259ff;
  border: none;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
}
.buttonIcon {
  width: 24px;
  height: 24px;
  color: var(--white);
}
