.container {
  width: 1168px;
  height: 1292px;
  margin: 0 auto;
  background-color: var(--accent-color);
  padding: 49px 72px 40px 72px;
  margin-top: 88px;
  border-radius: 16px;
}
.profileContainer {
  display: flex;
}

.avatarContainer {
  text-align: center;
}
.avatarWrapper {
  position: relative;
  width: 252px;
  height: 252px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.updateLinkContainer {
  margin-top: 14px;
}
.updateLink {
  text-align: center;
  color: var(--black);
  font-family: var(--h2-regular-font-family);
  font-size: var(--h2-regular-font-size);
  font-style: var(--h2-regular-font-style);
  font-weight: var(--h2-regular-font-weight);
  letter-spacing: var(--h2-regular-letter-spacing);
  line-height: var(--h2-regular-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.updateLinkIcon {
  width: 24px;
  height: 24px;
}
.profileInfoContainer {
  margin-left: 64px;
  flex-grow: 1;
}
.username {
  color: var(--black);
  font-family: "Inter-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}
.usertitle {
  margin-top: 36px;
  color: var(--black);
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.userContactsContainer {
  margin-top: 36px;
  display: flex;
  gap: 48px;
}
.userContacts {
  color: var(--black);
  font-family: var(--h1-regular-font-family);
  font-size: var(--h1-regular-font-size);
  font-style: var(--h1-regular-font-style);
  font-weight: var(--h1-regular-font-weight);
  letter-spacing: var(--h1-regular-letter-spacing);
  line-height: var(--h1-regular-line-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.userContactsIcon {
  width: 24px;
  height: 24px;
}
.price {
  margin-top: 36px;
  font-family: var(--h1-medium-font-family);
  font-size: var(--h1-medium-font-size);
  font-style: var(--h1-medium-font-style);
  font-weight: var(--h1-medium-font-weight);
  letter-spacing: var(--h1-medium-letter-spacing);
  line-height: var(--h1-medium-line-height);
}
.locationTitle {
  margin-top: 28px;
  color: var(--black);
  font-family: var(--h3-regular-font-family);
  font-size: var(--h3-regular-font-size);
  font-style: var(--h3-regular-font-style);
  font-weight: var(--h3-regular-font-weight);
  letter-spacing: var(--h3-regular-letter-spacing);
  line-height: var(--h3-regular-line-height);
  margin-left: 8px;
}
.location {
  margin-top: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background: var(--white);
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  width: fit-content;
}
.shareLink {
  margin-left: 56px;
  display: flex;
  align-items: center;
  color: var(--black);
  font-family: var(--h2-regular-font-family);
  font-size: var(--h1-regular-font-size);
  font-style: var(--h1-regular-font-style);
  font-weight: var(--h1-regular-font-weight);
  letter-spacing: var(--h2-regular-letter-spacing);
  line-height: var(--h2-regular-line-height);
}
.shareIcon {
  width: 24px;
  height: 24px;
}
.descriptionTitle {
  margin-top: 28px;
  margin-left: 8px;
  color: var(--black);
  font-family: var(--h3-regular-font-family);
  font-size: var(--h3-regular-font-size);
  font-style: var(--h3-regular-font-style);
  font-weight: var(--h3-regular-font-weight);
  letter-spacing: var(--h3-regular-letter-spacing);
  line-height: var(--h3-regular-line-height);
}
.descriptionWrapper {
  margin-top: 16px;
  background-color: var(--white);
  border-radius: 8px;
  height: 172px;
  padding: 8px;
  width: 1024px;
}
.description {
  color: #0b0b0b;
  font-family: var(--h2-regular-font-family);
  font-size: var(--h2-regular-font-size);
  font-style: var(--h2-regular-font-style);
  font-weight: var(--h2-regular-font-weight);
  letter-spacing: var(--h2-regular-letter-spacing);
  line-height: var(--h2-regular-line-height);
}
.categoryContainer {
  margin-top: 8px;

  display: flex;
  overflow: auto;
  gap: 8px;
}
.categoryArtist {
  margin-top: 16px;
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background: var(--white);
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.portfolioContainer {
  margin-top: 47px;
}
.portfolioTitle {
  margin-left: 8px;
  color: var(--black);
  font-family: var(--h1-medium-font-family);
  font-size: var(--h1-medium-font-size);
  font-style: var(--h1-medium-font-style);
  font-weight: var(--h1-medium-font-weight);
  letter-spacing: var(--h1-medium-letter-spacing);
  line-height: var(--h1-medium-line-height);
}
.photoListContainer {
  display: flex;
  gap: 8px;
}
.photoListItem {
  margin-top: 28px;
  position: relative;
  width: 199px;
  height: 180px;
}
.photo {
  border-radius: 8px;
  object-fit: cover;
}
.videoContainer {
  margin-top: 42px;
}
.videoListContainer {
  display: flex;
  gap: 8px;
}
.videoListItem {
  height: 129px;
  width: 199px;
  border-radius: 8px;
  order: 3;
}
