.artistInfo {
  max-width: 250px;
  min-height: 1219px;
  background-color: var(--accent-color-2);
  border-radius: 0px 16px 16px 16px;
  padding: 36px 26px;
  color: var(--white);
  -webkit-box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.59);
  box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.59);
  @media (min-width: 768px) {
    display: none;
  }
}
.artistInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.artistAvatarContainer {
  /* width: 260px; */
  height: 240px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.59);
}
.image {
  border-radius: 10px;
  object-fit: cover;
}
.artistName {
  font-family: var(--h1-medium-font-family);
  font-size: var(--h1-medium-font-size);
  font-style: var(--h1-medium-font-style);
  font-weight: var(--h1-medium-font-weight);
  letter-spacing: var(--h1-medium-letter-spacing);
  line-height: var(--h1-medium-line-height);
}
.rating {
}
.contactButton {
  color: var(--white);
  font-family: var(--h2-medium-font-family);
  font-size: var(--h2-medium-font-size);
  font-style: var(--h2-medium-font-style);
  font-weight: var(--h2-medium-font-weight);
  letter-spacing: var(--h2-medium-letter-spacing);
  line-height: var(--h2-medium-line-height);
  width: 274px;
  height: 48px;
  margin-top: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.artistContact {
  padding-left: 8px;
}
.contactTitle {
  margin-top: 24px;

  font-family: var(--h3-regular-font-family);
  font-size: var(--h3-regular-font-size);
  font-style: var(--h3-regular-font-style);
  font-weight: var(--h3-regular-font-weight);
  letter-spacing: var(--h3-regular-letter-spacing);
  line-height: var(--h3-regular-line-height);
}
.contactItem {
  margin-top: 16px;

  font-family: var(--h1-regular-font-family);
  font-size: var(--h1-regular-font-size);
  font-style: var(--h1-regular-font-style);
  font-weight: var(--h1-regular-font-weight);
  letter-spacing: var(--h1-regular-letter-spacing);
  line-height: var(--h1-regular-line-height);
  display: flex;
  align-items: center;
}
.contactIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.artistSocial {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.artistSocialItem {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  font-size: var(--h1-regular-font-size);
}

.socialIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.socialIconWeb {
  color: black;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.updateProfileLink {
}
