.buttonCat {
  height: 52px;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #a259ff;
  border-radius: 20px;
  color: var(--white);
  font-size: var(--h2-medium-font-size);
  font-weight: var(--h2-medium-font-weight);
  transition: background-color 0.3s ease, color 0.3s ease; /* Добавляем плавный переход */
}

.buttonCat.show {
  background-color: #a259ff;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 4px 8px #00000040;
  transition-delay: 0.2s;
}

.catContainer {
  overflow: hidden;
  margin-top: 19px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.01);

  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 4;
  left: -200%;
  transition: left 0.3s ease-in-out;
}

.catContainer.show {
  left: 0; /* Конечное положение внутри экрана */
  z-index: 4;
}
.catContainerNav {
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
}
.buttonNav {
  color: var(--white);
  border: none;
  background: transparent;
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);
}
.buttonNavIcon {
  width: 32px;
  height: 32px;
}
.catListContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.catList {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  transition: opacity 0.3s ease-in-out; /* Adjusted transition properties */
}
.catList.hide {
  opacity: 0; /* Added opacity property */
}
.catList.show {
  opacity: 1; /* Added opacity property */
}
.catListItem {
  /* width: 100%; */
  width: 148px;
  /* height: 100px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #3b3b3b;

  /* border: 1px solid #a259ff; */
  border-radius: 20px;
  /* padding: 8px; */
  font-size: 10px;
}
.catListText {
  /* width: 100%; */
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catListIcon {
  width: 32px;
  height: 32px;
  margin-left: auto;
  /* color: var(--bg-color); */
  transform: rotate(180deg);
}
.subCatList {
  width: 100%;
  padding: 0px 24px;
  right: -200%; /* Keep 'right' for sliding in from the right */
  position: absolute;
  transition: right 0.3s ease-in-out; /* Adjust 'left' to 'right' */
}

.subCatList.show {
  right: 0; /* Move to right: 0 for showing */
  z-index: 4;
}
.subCatTitle {
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  color: var(--white);
  font-size: var(--h2-medium-font-size);
  font-weight: var(--h2-medium-font-weight);
  border: none;
  border-bottom: 0.5px solid var(--white);
}
.subCatItem {
  margin-top: 10px;
  padding: 10px;
  /* color: var(--white);
  font-size: var(--h1-medium-font-size);
  font-weight: var(--h1-medium-font-weight);
  border: none;
  border-bottom: 0.5px solid var(--white); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color-1);
  border-radius: 8px;
  padding: 8px;
  font-size: var(--h1-medium-font-size);
  font-weight: var(--h1-medium-font-weight);
}
.categoryImageContainer {
  position: relative;
  width: 148px;
  height: 142px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    width: 150px;
  }
  @media (min-width: 1000px) {
    width: 240px;
    height: 240px;
  }
}

.categoryImage {
  object-fit: cover;
  background-color: transparent;
}
.iconContainer {
  position: relative;
  width: 148px;
  height: 142px;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backdrop-filter 0.2s;
  @media (min-width: 768px) {
    width: 150px;
  }
  @media (min-width: 1000px) {
    width: 240px;
    height: 240px;
  }
}
.iconContainer:hover {
  /* transform: scale(1.5);

  transition-delay: 0.2s; */
  backdrop-filter: blur(1px);
}
.categoryIcon {
  background-color: transparent;
}
.categoryNameContainer {
  padding: 10px 20px 15px;
  font-size: 12px;
  font-weight: 600;

  display: flex;
  @media (min-width: 768px) {
  }
  @media (min-width: 1200px) {
    padding: 20px 30px 25px;

    font-size: 22px;
  }
}
