.sortIcon {
  width: 24px;
  height: 24px;
}
.buttonSort {
  height: 52px;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #a259ff;
  border-radius: 20px;
  color: var(--white);
  font-size: var(--h2-medium-font-size);
  font-weight: var(--h2-medium-font-weight);
  transition: background-color 0.3s ease, color 0.3s ease; /* Добавляем плавный переход */
}

.buttonSort.show {
  background-color: #a259ff;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 4px 8px #00000040;
  transition-delay: 0.2s;
}
