/* navBar */
.navBar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color-1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  /* gap: 24px; */
  justify-content: space-evenly;
  padding: 4px 0px;

  width: 90%;

  height: 90px;

  z-index: 2; /* Установите z-index по вашему усмотрению */
  -webkit-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.59);
  @media (min-width: 768px) {
    display: none;
  }
}
.navBarLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--h3-medium-font-size);
  font-style: var(--h3-medium-font-style);
  font-weight: var(--h3-medium-font-weight);
}
.navBarIcon {
  width: 24px;
  height: 24px;
}
.navBarActive {
  color: var(--button-bg-color);
}
.avatarLink {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.avatarWrapper {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
}
