.avatarContainer {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: fit-content;
  align-items: center;
}
.avatarWrapper {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.avatar {
  object-fit: cover;
}
.updateLinkContainer {
  margin-top: 5px;
}

.updateLink {
  font-size: 8px;
  width: fit-content;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer; /* Добавим указатель при наведении */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  color: var(--white);
  border: 2px solid #a259ff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
  }
}
.updateLink:hover {
  background-color: #a259ff;
  border: 2px solid transparent;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 4px 8px #00000040;
  transition-delay: 0.2s;
}
