.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarWrapper {
  position: relative;
  width: 252px;
  height: 252px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.updateLinkContainer {
  margin-top: 12px;
}
.updateLink {
  text-align: center;
  background-color: transparent;
  color: var(--black);
  font-family: var(--h2-regular-font-family);
  font-size: var(--h2-regular-font-size);
  font-style: var(--h2-regular-font-style);
  font-weight: var(--h2-regular-font-weight);
  letter-spacing: var(--h2-regular-letter-spacing);
  line-height: var(--h2-regular-line-height);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  cursor: pointer;
}
