.container {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;

  @media (min-width: 768px) {
  }
}
.profileInfoContainer {
  @media (min-width: 768px) {
    display: flex;
  }
}
