.mainContainer {
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  max-width: 1168px;
  min-height: 816px;
  border-radius: 16px;
  position: relative;
  background-color: var(--accent-color);
  position: relative;
  @media (min-width: 768px) {
    margin-top: 88px;
  }
}
.content {
  flex-grow: 1;
}
.buttonBackContainer {
  display: none;
  @media (min-width: 768px) {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: -32px;
    left: 32px;
  }
}
.buttonBack {
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--h1-regular-font-family);
  font-size: var(--h2-regular-font-size);
}
.buttonBack:hover {
  text-decoration: underline;
}
.buttonBackText {
  cursor: default;
}
.mobileButtonContainer {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}
.socialContainer {
  /* margin-top: 20px; */
  position: absolute;
  z-index: 2;
  display: flex;
  max-width: -0;
  overflow: hidden;
  height: 100%;
  transition: max-width 0.3s ease-in;

  /* background-color: rgba(0, 0, 0, 0.2); */
  /* border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px; */
}
.socialContainer.show {
  /* padding: 20px; */
  max-width: 100%; /* Задайте максимальную высоту, которую вы считаете подходящей */
}
.socialContainer.hide {
  max-width: 0;
}
