.container {
  padding: 20px;
}
.contactsContainer,
.socialContainer {
  /* margin-top: 20px; */
  display: flex;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.contactsTitle {
  font-size: var(--h1-medium-font-size);
  font-weight: var(--h1-medium-font-weight);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.36);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-top: 20px;
}
.titleClose {
  border-radius: 16px;
}
.contactLabel {
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);
  margin-bottom: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.contactIcon {
  height: 24px;
  width: 24px;
}
.contactIconWhatsapp {
  height: 30px;
  width: 30px;
}

.contactsContainer.show,
.socialContainer.show {
  padding: 20px;
  max-height: 600px; /* Задайте максимальную высоту, которую вы считаете подходящей */
}

.contactsContainer.hide,
.socialContainer.hide {
  max-height: 0;
}
.iconArrow {
  width: 32px;
  height: 32px;
  transform: rotate(180deg);

  transition: transform 0.3s ease; /* Добавлен переход для свойства transform */
}

.up {
  transform: rotate(0deg);
}
