.container {
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 20px;
  }
  @media (min-width: 1200px) {
    /* padding: 40px; */
  }
}

.socialContainer {
  /* margin-top: 20px; */
  width: 100%;
  overflow: hidden;
  @media (min-width: 768px) {
    display: flex;
  }
}
.contactsTitle {
  display: none;
  @media (min-width: 768px) {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }
}
.titleClose {
  border-radius: 16px;
}
.contactLabel {
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);
  margin-bottom: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.contactIcon {
  height: 24px;
  width: 24px;
}
.contactIconWhatsapp {
  height: 30px;
  width: 30px;
}

.iconArrow {
  width: 32px;
  height: 32px;
  transform: rotate(180deg);

  transition: transform 0.3s ease; /* Добавлен переход для свойства transform */
}

.up {
  transform: rotate(0deg);
}
