.container {
  width: fit-content;
  height: fit-content;
}
.titleInput {
  margin-left: 32px;
}
.locationContainer {
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  border: none;
}
.buttonEdit {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
}
.iconEdit {
  height: 24px;
  width: 24px;
}
.iconOk {
  color: green;
  height: 24px;
  width: 24px;
}
