.container {
  flex: 1;
}
.titleInput {
  margin-left: 32px;
  color: var(--gray);
  font-size: var(--h4-medium-font-size);
  font-weight: var(--h5-regular-font-weight);
}
.locationContainer {
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  border: none;
  font-size: var(--h2-medium-font-size);
  font-weight: var(--h2-medium-font-weight);
}
.buttonEdit {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
}
.iconEdit {
  height: 24px;
  width: 24px;
}
.iconOk {
  color: green;
  height: 24px;
  width: 24px;
}
