.title {
  color: var(--black);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}
.name {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  width: 100%;
  border: none;
  padding-left: 20px;

  margin-bottom: 12px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
}
