.container {
  margin-top: 20px;
}
.title {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.titleText {
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.categoryArtistList {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.categoryItem {
  width: 240px;
  border-radius: 20px;
  background-color: #3b3b3b;
  color: #fff;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
}

.categoryImageContainer {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryImage {
  object-fit: cover;
  background-color: transparent;
}
.iconContainer {
  position: relative;
  width: 240px;
  height: 240px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backdrop-filter 0.2s;
}
.iconContainer:hover {
  /* transform: scale(1.5);

  transition-delay: 0.2s; */
  backdrop-filter: blur(1px);
}
.categoryIcon {
  background-color: transparent;
}
.categoryNameContainer {
  padding: 20px 30px 25px;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
}
