.footer {
  border-top: 2px solid #3b3b3b;

  color: var(--white);
  /* text-decoration:; */
  @media screen and (min-width: 768px) {
    width: 100vw;
    padding-bottom: 20px;
    background-color: #3b3b3b;
    position: relative;
  }
}
.containerMap {
  margin-top: 10px;
  gap: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.title {
  font-weight: 700;
}
.listItem {
}
.link {
  font-size: 10px;
  font-weight: 300;
}
