.input {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  width: 100%;
  border: none;
  padding-left: 16px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  @media screen and (min-width: 768px) {
    width: 260px;
  }
}

.itemList {
  width: 90%;
  margin-top: 5px;
  position: absolute;
  height: fit-content;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 20px;
  padding: 10px;
  z-index: 10000;
}
.item {
  background-color: #3b3b3b;
  width: 100%;
  padding: 10px;
  height: fit-content;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: border 0.3s ease; /* Плавный переход для свойства border */
}

.item:hover {
  border-color: #a259ff; /* Изменение цвета границы при наведении */
}
