/* mobile */
.mobileContainer {
  margin-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  @media (min-width: 1200px) {
    display: none;
  }
}
.mobileMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding: 8px 24px;
  background-color: rgba(41, 91, 108, 0.427);
  backdrop-filter: blur(10px);
}

.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.visibleContainer {
  margin-top: 10px;
  /* overflow: hidden; */
  position: relative;
  transition: top 0.1s ease-in-out;
  border-radius: 10px;
  overflow: auto; /* Разрешить прокрутку внутри меню */
  -webkit-overflow-scrolling: touch;
}
.move {
  height: 90px;
  margin-bottom: 20px;
}
.searchVisible {
  width: 100%;
  position: absolute;
  transition: top 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
}
.searchInputContainer {
  width: 100%;
  height: 40px;
  position: relative;
  border-radius: 8px;
}
.show {
  padding-right: 24px;
  padding-left: 24px;
  top: 0;
  height: 40px;
}
.inputSearch {
  background-color: var(--white);
  border-radius: 10px;
  height: 40px;
  border: none;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 12px;
  color: var(--black);
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);

  position: absolute;
}
.inputSearch::placeholder {
  color: var(--gray);
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);
}

.buttonSearch {
  width: 80px;
  height: 40px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--white);
  background-color: #a159ff;
  position: absolute;
  right: 0px;
  top: 0px;
}
.clearSearch {
  height: 40px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--black);
  background-color: transparent;
  position: absolute;
  right: 80px;
  top: 0px;
}
.clearSearchIcon {
  width: 20px;
  height: 20px;
}

.burger {
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.close {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: -8px;
  margin-top: 20px;
}
.search {
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.burgerIcon {
  color: var(--white);
  width: 100%;
  height: auto;
}
.searchIcon {
  color: var(--white);
  width: 100%;
  height: auto;
}
.mobileLogoLink {
  color: var(--white);
  font-family: "Kodchasan", sans-serif;
  font-size: 32px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoMob {
  width: 60px;
  height: 60px;
  margin-right: -45px;
  /* transform: rotate(-30deg); */
}
.mobLogoText {
  position: relative;
  z-index: 1;
}

.mobileNav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* desktop */
.header {
  display: none;
  @media (min-width: 1200px) {
    height: 84px;
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Чтобы элементы выравнивались по вертикали внутри headerNav */
  gap: 78px;
}

.link {
  font-size: 36px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.277);
  transition: color 0.2s ease;
  @media (min-width: 1200px) {
    /* font-size: 16px; */

    color: #858584;
  }
}
.link:hover {
  color: var(--white);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Отступ полоски от нижней части .link */
  left: 0; /* Начало полоски */
  height: 2px; /* Высота полоски */
  background-color: #a259ff6c; /* Цвет полоски */
  transition: width 0.2s ease-in-out; /* Плавный переход для изменения ширины */
  width: 0; /* Начальная ширина полоски (будет увеличиваться) */
  @media (min-width: 1200px) {
    background-color: #a259ff6c; /* Цвет полоски */
    height: 1px; /* Высота полоски */
  }
}

.link:hover::after, /* Появление линии при ховере */
.link.active::after {
  /* Появление линии при активном состоянии */
  width: 100%; /* Увеличение ширины полоски */
}

/* При желании, вы можете добавить другие стили для активного состояния */
.link.active {
  color: #a159ff;

  @media (min-width: 1200px) {
    color: var(--white);
  }
}
.logoLink {
  color: var(--white);

  font-family: "Kodchasan", sans-serif;

  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  position: relative;
}

.logo {
  z-index: 3;
  width: 150px;
  height: auto;
  transform: rotate(-30deg);
}

.avatarLink {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.avatarWrapper {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 10px 0;
}
