.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.input {
  background-color: var(--white);
  border-radius: 8px;
  height: 45px;
  border: none;
  padding-left: 15px;
  margin-bottom: 12px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  color: var(--black);
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);

  @media (min-width: 768px) {
    width: 298px;
  }
}
.input::placeholder {
  color: var(--black);
  font-size: var(--h2-regular-font-size);
  font-weight: var(--h2-regular-font-weight);
}

.buttonEdit {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
  /* @media (min-width: 768px) {
    width: 45px;
    height: 45px;
  } */
}
.iconEdit {
  color: #a159ff;
  height: 24px;
  width: 24px;
}
.iconOk {
  color: green;
  height: 24px;
  width: 24px;
}
