.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  gap: 20px;
}
.avatarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  display: flex;
  padding: 16px;
  position: relative;
  width: 280px;
  border: 1px solid #858584;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}
