.bannerContainer {
  margin-left: 24px;
  width: 671px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--white);
  position: relative;
}
.banner {
  border-radius: 16px;
}
