.imageContainer {
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 0px 0px 16px 16px;
  min-height: 169px;
  max-width: 432px;
  /* overflow: auto; */
}
.artistItem {
  margin-top: 20px;
}
.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.imageItem {
  position: relative;
  width: 82px;
  height: 82px;
  border-radius: 10px;
}
.image {
  border-radius: 10px;
  object-fit: cover;
  background-color: var(--white);
}
.artistName {
  margin-top: 4px;
  font-size: var(--h5-medium-font-size);
  font-style: var(--h5-medium-font-style);
  font-weight: var(--h5-medium-font-weight);
  font-size: 12px;
}
.artistTitle {
  margin-top: 4px;
  font-size: var(--h6-regular-font-size);
  font-style: var(--h6-regular-font-style);
  font-weight: var(--h6-regular-font-weight);
  color: var(--black);
  font-size: 10px;
}
