.container {
  max-width: 432px;
  min-height: 443px;
  border-radius: 16px;
  background: #3b3b3b;

  @media (min-width: 768px) {
    margin-left: 40px;
    width: 372px;
    height: 729px;
  }
}
.bannerContainer {
  max-width: 432px;
  height: 153px;
  position: relative;
  @media (min-width: 768px) {
    width: 373px;
    height: 423px;
    /* position: relative; */
  }
}
.banner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.bannerTitleContainer {
  margin: 0 auto;
  margin-top: 16px;
  max-width: 351px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  @media (min-width: 768px) {
    margin-top: 28px;
  }
}
.bannerTitle {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.bannerCategory {
  margin-top: 32px;
  height: 31px;
  margin-left: 24px;
  @media (min-width: 768px) {
    margin-top: 32px;
    height: 31px;
    margin-left: 8px;
  }
}
.bannerCategoryText {
  font-size: var(--h4-medium-font-size);

  font-weight: var(--h4-medium-font-weight);

  color: var(--white);

  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}
