/* Глобальные стили */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kodchasan:wght@300;400;500;600;700&display=swap");
:root {
  --logo-font: "Kodchasan", sans-serif;
  --main-font: "Inter", sans-serif;
  --bg-color: #094356;
  --button-bg-color: rgb(232, 149, 89);
  --button-text-color: #333;
  --accent-color: #ebdfca;
  --accent-color-1: rgba(235, 223, 202, 1);
  --accent-color-2: rgba(232, 149, 89, 1);
  --accent-color-3: rgba(9, 67, 86, 1);
  --black: rgba(24, 24, 24, 1);
  --gray: rgb(144, 143, 143);
  --gray-light: rgba(217, 217, 217, 1);
  --h1-medium-font-family: "Inter", sans-serif;
  --h1-medium-font-size: 20px;
  --h1-medium-font-style: normal;
  --h1-medium-font-weight: 500;
  --h1-medium-letter-spacing: 0px;
  --h1-medium-line-height: normal;
  --h1-regular-font-family: "Inter", sans-serif;
  --h1-regular-font-size: 20px;
  --h1-regular-font-style: normal;
  --h1-regular-font-weight: 400;
  --h1-regular-letter-spacing: 0px;
  --h1-regular-line-height: normal;
  --h2-medium-font-family: "Inter", sans-serif;
  --h2-medium-font-size: 16px;
  --h2-medium-font-style: normal;
  --h2-medium-font-weight: 500;
  --h2-medium-letter-spacing: 0px;
  --h2-medium-line-height: normal;
  --h2-regular-font-family: "Inter", sans-serif;
  --h2-regular-font-size: 16px;
  --h2-regular-font-style: normal;
  --h2-regular-font-weight: 400;
  --h2-regular-letter-spacing: 0px;
  --h2-regular-line-height: normal;
  --h3-medium-font-family: "Inter", sans-serif;
  --h3-medium-font-size: 14px;
  --h3-medium-font-style: normal;
  --h3-medium-font-weight: 500;
  --h3-medium-letter-spacing: 0px;
  --h3-medium-line-height: normal;
  --h3-regular-font-family: "Inter", sans-serif;
  --h3-regular-font-size: 14px;
  --h3-regular-font-style: normal;
  --h3-regular-font-weight: 400;
  --h3-regular-letter-spacing: 0px;
  --h3-regular-line-height: normal;
  --h4-medium-font-family: "Inter-Medium", sans-serif;
  --h4-medium-font-size: 13px;
  --h4-medium-font-style: normal;
  --h4-medium-font-weight: 500;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: normal;
  --h5-medium-font-family: "Inter", sans-serif;
  --h5-medium-font-size: 12px;
  --h5-medium-font-style: normal;
  --h5-medium-font-weight: 500;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: normal;
  --h5-regular-font-family: "Inter", sans-serif;
  --h5-regular-font-size: 12px;
  --h5-regular-font-style: normal;
  --h5-regular-font-weight: 400;
  --h5-regular-letter-spacing: 0px;
  --h5-regular-line-height: normal;
  --h6-regular-font-family: "Inter", sans-serif;
  --h6-regular-font-size: 10px;
  --h6-regular-font-style: normal;
  --h6-regular-font-weight: 400;
  --h6-regular-letter-spacing: 0px;
  --h6-regular-line-height: normal;
  --white: rgba(255, 255, 255, 1);
}
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  font-family: var(--main-font);
  /* background: rgb(9, 67, 86);
  background: radial-gradient(
    circle,
    rgba(9, 67, 86, 1) 42%,
    rgba(232, 149, 89, 1) 100%
  ); */
  background-color: var(--bg-color);
  background-image: url(../public/gradient2.png);
  backdrop-filter: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
