/* Глобальные стили */

@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kdam+Thmor+Pro&display=swap");

:root {
  --main-font: Helvetica, sans-serif;
  --bg-color: #094356;
  --button-bg-color: rgb(232, 149, 89);
  --button-text-color: #333;
  --accent-color: #ebdfca;
  --accent-color-1: rgba(235, 223, 202, 1);
  --accent-color-2: rgba(232, 149, 89, 1);
  --accent-color-3: rgba(9, 67, 86, 1);
  --black: rgba(24, 24, 24, 1);
  --gray: rgba(144, 143, 143, 1);
  --gray-light: rgba(217, 217, 217, 1);
  --h1-medium-font-family: "Inter-Medium", Helvetica;
  --h1-medium-font-size: 20px;
  --h1-medium-font-style: normal;
  --h1-medium-font-weight: 500;
  --h1-medium-letter-spacing: 0px;
  --h1-medium-line-height: normal;
  --h1-regular-font-family: "Inter-Regular", Helvetica;
  --h1-regular-font-size: 20px;
  --h1-regular-font-style: normal;
  --h1-regular-font-weight: 400;
  --h1-regular-letter-spacing: 0px;
  --h1-regular-line-height: normal;
  --h2-medium-font-family: "Inter-Medium", Helvetica;
  --h2-medium-font-size: 16px;
  --h2-medium-font-style: normal;
  --h2-medium-font-weight: 500;
  --h2-medium-letter-spacing: 0px;
  --h2-medium-line-height: normal;
  --h2-regular-font-family: "Inter-Regular", Helvetica;
  --h2-regular-font-size: 16px;
  --h2-regular-font-style: normal;
  --h2-regular-font-weight: 400;
  --h2-regular-letter-spacing: 0px;
  --h2-regular-line-height: normal;
  --h3-medium-font-family: "Inter-Medium", Helvetica;
  --h3-medium-font-size: 14px;
  --h3-medium-font-style: normal;
  --h3-medium-font-weight: 500;
  --h3-medium-letter-spacing: 0px;
  --h3-medium-line-height: normal;
  --h3-regular-font-family: "Inter-Regular", Helvetica;
  --h3-regular-font-size: 14px;
  --h3-regular-font-style: normal;
  --h3-regular-font-weight: 400;
  --h3-regular-letter-spacing: 0px;
  --h3-regular-line-height: normal;
  --h4-medium-font-family: "Inter-Medium", Helvetica;
  --h4-medium-font-size: 13px;
  --h4-medium-font-style: normal;
  --h4-medium-font-weight: 500;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: normal;
  --h5-medium-font-family: "Inter-Medium", Helvetica;
  --h5-medium-font-size: 12px;
  --h5-medium-font-style: normal;
  --h5-medium-font-weight: 500;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: normal;
  --h5-regular-font-family: "Inter-Regular", Helvetica;
  --h5-regular-font-size: 12px;
  --h5-regular-font-style: normal;
  --h5-regular-font-weight: 400;
  --h5-regular-letter-spacing: 0px;
  --h5-regular-line-height: normal;
  --h6-regular-font-family: "Inter-Regular", Helvetica;
  --h6-regular-font-size: 10px;
  --h6-regular-font-style: normal;
  --h6-regular-font-weight: 400;
  --h6-regular-letter-spacing: 0px;
  --h6-regular-line-height: normal;
  --white: rgba(255, 255, 255, 1);
}
p {
  margin: 0;
  padding: 0;
}

html {
  /* Устанавливаем базовые стили для всего приложения */
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  /* background-image: url(""); */
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none"><circle cx="100" cy="100" r="80" stroke="rgb(232, 149, 89)" stroke-width="0.2" /><path d="M100 20C66.3956 20 40 46.3956 40 80C40 102.716 51.3394 122.647 69.6928 132.464L67.8335 136.205C48.7921 126.543 36 105.31 36 80C36 47.2548 62.2548 20 95 20C127.745 20 154 46.2548 154 79C154 113.017 125.827 140.463 91.6481 142.657L89.9625 146.404C126.306 144.032 154 114.373 154 80C154 45.8825 125.117 17 91 17C57.2132 17 30 44.2132 30 78C30 108.184 51.3364 133.84 79.2678 142.263L77.7173 146.014C46.0973 137.021 22 109.071 22 78C22 42.5071 52.5071 12 88 12C123.493 12 154 42.5071 154 78C154 114.494 123.493 145 88 145C52.5071 145 22 114.494 22 78" stroke="rgb(232, 149, 89)" stroke-width="0.2" stroke-linecap="round" stroke-linejoin="round" /></svg>'); */
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none"><circle cx="100" cy="100" r="80" stroke="rgb(232, 149, 89)" stroke-width="0.2" /><path d="M20 100C20 133.805 46.8921 161.985 80 163.53V183.684C29.661 179.05 0 139.644 0 88.2222C0 37.1908 39.951 0 89.0639 0C130.285 0 167.459 26.7207 182.346 65.2174H162.179C149.656 34.0748 122.075 12 89.0639 12C48.5201 12 12 48.8379 12 88.2222C12 126.169 39.4737 159.364 76.4991 169.084V149.527C34.9924 140.83 4.60204 111.888 4.60204 72.3495C4.60204 32.3149 38.3289 0 80 0C119.452 0 153.004 30.8502 163.586 72.3495H143.95C133.529 49.6076 112.378 32.0652 89.0639 32.0652C61.9939 32.0652 40 53.332 40 80C40 106.211 60.1626 127.815 86.2346 131.623V111.365C63.747 107.952 47.1858 91.1749 47.1858 72.3495C47.1858 53.1834 64.5013 37.2174 85.8981 37.2174C107.917 37.2174 125.063 55.3623 125.063 77.6259V97.4648C125.063 119.494 107.431 137.818 86.7036 139.962C110.441 142.242 129.615 159.441 129.615 181.941C129.615 197.959 117.617 212 102.131 212H20V100Z" stroke="rgb(232, 149, 89)" stroke-width="0.2" stroke-linecap="round" stroke-linejoin="round" /></svg>'); */
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none"><circle cx="100" cy="100" r="80" stroke="black" stroke-width="8" /><path d="M100 20C66.3956 20 40 46.3956 40 80C40 102.716 51.3394 122.647 69.6928 132.464L67.8335 136.205C48.7921 126.543 36 105.31 36 80C36 47.2548 62.2548 20 95 20C127.745 20 154 46.2548 154 79C154 113.017 125.827 140.463 91.6481 142.657L89.9625 146.404C126.306 144.032 154 114.373 154 80C154 45.8825 125.117 17 91 17C57.2132 17 30 44.2132 30 78C30 108.184 51.3364 133.84 79.2678 142.263L77.7173 146.014C46.0973 137.021 22 109.071 22 78C22 42.5071 52.5071 12 88 12C123.493 12 154 42.5071 154 78C154 114.494 123.493 145 88 145C52.5071 145 22 114.494 22 78" stroke="black" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" /></svg>'); */
  background-size: cover; /* Растягиваем изображение на всю область */
  background-repeat: no-repeat; /* Запрещаем повторение изображения */
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  /* Стили для вашего контейнера, если необходимо */
}

/* Стили для темной темы */
/* html.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  color-scheme: dark;
} */

/* Стили для светлой темы */
/* html:not(.dark-mode) {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
} */

/* Стили для кнопки переключения темы */
/* .theme-toggle-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 10px;
} */

/* Дополнительные стили для кнопки в зависимости от темы */
/* .dark-mode .theme-toggle-button {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
} */

/* form */
/* @import "../styles/globals.css"; */
/* 
.form {
  background-color: var(--accent-color);
  border-radius: 16px;
  height: 729px;
  position: relative;
  width: 756px;
}

.form .text-wrapper {
  color: var(--white);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.form .info {
  height: 126px;
  left: 80px;
  position: absolute;
  top: 71px;
  width: 260px;
}

.form .div {
  color: var(--white);
  font-family: "Inter-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.form .p {
  color: var(--white);
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 260px;
}

.form .name {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 260px;
}

.form .text-wrapper-2 {
  color: var(--gray);
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.form .phone {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 260px;
}

.form .location {
  height: 58px;
  left: 80px;
  position: absolute;
  top: 350px;
  width: 560px;
}

.form .div-wrapper {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 260px;
}

.form .text-wrapper-3 {
  color: var(--gray);
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.form .adress {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  left: 300px;
  position: absolute;
  top: 27px;
  width: 260px;
}

.form .text-wrapper-4 {
  color: var(--white);
  font-family: "Inter-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.form .price {
  height: 58px;
  left: 80px;
  position: absolute;
  top: 428px;
  width: 260px;
}

.form .frame {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 300px;
  padding: 8px;
  position: absolute;
  top: 23px;
}

.form .radiobtn {
  background-color: var(--x-neutral0-white);
  border: 1px solid;
  border-color: #62666a;
  border-radius: 12px;
  height: 18px;
  position: relative;
  width: 18px;
}

.form .text-wrapper-5 {
  color: var(--white);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form .description {
  height: 113px;
  left: 80px;
  position: absolute;
  top: 217px;
  width: 337px;
}

.form .field {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 86px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 337px;
}

.form .text-wrapper-6 {
  color: var(--gray);
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 305px;
}

.form .calendar-btn {
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  left: 238px;
  padding: 10px 28px;
  position: absolute;
  top: 506px;
}

.form .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.form .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.form .category {
  height: 98px;
  left: 380px;
  position: absolute;
  top: 71px;
  width: 260px;
}

.form .sub-category {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 260px;
}

.form .tabler-icon-chevron {
  height: 24px;
  left: 228px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.form .category-2 {
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 31px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 260px;
}

.form .btn {
  all: unset;
  align-items: center;
  background-color: #62666a;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  left: 287px;
  padding: 10px 28px;
  position: absolute;
  top: 662px;
}

.form .text-wrapper-8 {
  color: var(--white);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form .messenger {
  height: 68px;
  left: 80px;
  position: absolute;
  top: 570px;
  width: 299px;
}

.form .frame-2 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 0;
  padding: 8px;
  position: absolute;
  top: 28px;
}

.form .text-wrapper-9 {
  color: var(--white);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form .frame-3 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 185px;
  padding: 8px;
  position: absolute;
  top: 28px;
} */
